@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
body{
    font-family: 'SOYOMapleBoldTTF';
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    padding: 6vh 7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
}
header button{
    width: 70px;
    height: 50px;
    font-size: 1.2rem;
    background: white;
    border: 4px solid;
    border-color: black;
    border-radius: 12px;
    transition: 0.2s;
}
header button:hover{
    cursor: pointer;
    background: black;
    color: white;
    transition: 0.2s;
}
header button:active{
    transform: scale(1.05);
    opacity: 0.9;
}
.container{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.left{
    text-align: center;

}
.left img{
    width: 300px;
}
.left img:active{
    transform: scale(1.02);
    opacity: 0.9;
}
.left img:hover{
    cursor: pointer;
}
.show-nofc {
    font-size: 13px;
    font-weight: bold;
    color: rgb(55, 54, 54);
    text-shadow: 2px 2px 5px yellow;
    animation: 1s fade-up ;
}
@keyframes fade-up {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-100px);
        opacity: 0;
    }  
}